.spacerows{
  color: #633a34;
  
}
.mycols{
  border: 3px solid rgb(121, 7, 65);
}
.mycontainer{
  background-color: silver;
  border: 1px solid rgb(247, 10, 124);
}
body{
  background-color: blue;
}
